<form id="change_logo_form" enctype="multipart/form-data" method="post">
    <input id="new_logo" type="file" name="file" accept="image/*,image/jpeg" OnChange="add_new_photo();" />
    <input type="submit" class="submit" value="Загрузить!" />
</form>