<div class="pages col_100">
    {PAGES}
</div>
<div class="block_relative col_33">
    <ul class="reviews">
	    {ORDERS_1}
	</ul>
</div>
<div class="block_relative col_33">
    <ul class="reviews">
	    {ORDERS_2}
	</ul>
</div>
<div class="block_relative col_33">
    <ul class="reviews">
	    {ORDERS_3}
	</ul>
</div>
<div class="pages col_100">
    {PAGES}
</div>