<li id="orders_items-{ORDERS_ID}" class="{ORDERS_CLASS}">
    <div class="edit_icons">#{ORDERS_ID}
	    <a href="#" OnClick="delitem('orders', '{ORDERS_ID}');return false;">Удалить</a>
	</div>
	<h3>{ORDERS_NAME}</h3>
	<br />
	<b OnClick="window.open('mailto:{ORDERS_PHOTO}','_blank'); return false;">{ORDERS_PHOTO}</b>
	<br />
	<span class="grey">{ORDERS_WHENADD2}</span>
	<br />
	<br />
	{ORDERS_DESCRIPTION}
</li>