<li id="reviews_items-{REVIEWS_ID}">
    <div class="edit_icons">#{REVIEWS_ID}
	    <a href="#" OnClick="edititem('reviews', '{REVIEWS_ID}');return false;">Редактировать</a> / <a href="#" OnClick="delitem('reviews', '{REVIEWS_ID}');return false;">Удалить</a>
	</div>
	<form class="hide_elem">
	    <input type="hidden" name="id" value="{REVIEWS_ID}" />
		<input type="hidden" name="name" value="{REVIEWS_NAME}" />
		<input type="hidden" name="photo" value="{REVIEWS_PHOTO}" />
		<input type="hidden" name="whenadd" value="{REVIEWS_WHENADD2}" />
		<textarea name="description" value="{REVIEWS_DESCRIPTION}">{REVIEWS_DESCRIPTION}</textarea>
	</form>
	<img src="/upload/reviews/{REVIEWS_PHOTO}" />
	<h3>{REVIEWS_NAME}</h3>
	<span class="grey">{REVIEWS_WHENADD}</span>
	<br />
	<br />
	{REVIEWS_DESCRIPTION}
</li>