* {
    margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 14px;
}

html {
    background: url('../images/fon.jpg') fixed no-repeat;
	background-size: cover;
}

input, textarea, select {
	padding: 5px;
	color: #333333;
	border: 1px solid #888888;
	background: #FFFFFF;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	width: 160px;
}

textarea {
    max-width: 160px;
	max-height: 160px;
	height: 80px;
}

select:hover {
    cursor: pointer !important;
}

a, a:visited {
    color: #0088DD;
	text-decoration: none;
}

a:hover, a:active {
    color: #00AAFF;
}

input[type=submit], input[type=button] {
    background: #00AAFF;
	color: #FFFFFF;
	font-weight: bold;
}

input[type=file] {
    width: 160px;
}

input[type=submit]:hover, input[type=submit]:active, input[type=button]:hover, input[type=button]:active {
    cursor: pointer;
	background: #00CCFF;
}

ul li {
    list-style: none;
}

#header, #all, #footer {
    margin: 0 auto;
	width: 960px;
	background: rgba(255,255,255,0.9);
	border: 1px solid #333333;
	min-height: 200px;
}

#header {
    height: 200px;
    background: url('../images/header.jpg');
	background-size: cover;
	padding: 5px;
	text-align: center;
}

#header img {
    max-height: 190px;
	max-width: 950px;
	margin: 0 auto;
	background: rgba(255,255,255,0.9);
}

#footer {
    color: #FFFFFF;
	background: #333333;
	padding: 5px;
	min-height: 0;
	text-align: center;
}

#footer ul li {
    display: inline-block;
	width: 300px;
}

.all td {
    padding: 0;
	text-align: left;
	vertical-align: top;
}

#content, #right {
    padding: 5px;
}

.all .content {
    width: 750px;
}

.all .menu {
    width: 210px;
}

.menu H3 {
    background: #AA0000;
	border: 1px solid #880000;
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

#right ul {
    margin: 5px;
}

#right ul li {
    margin-left: 10px;
}

.content H1 {
    color: #AA0000;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.auth_form {
    margin: 5px;
}

.thing {
    width: 168px;
	float: left;
	padding: 5px;
	text-align: center;
	background: rgba(255,255,255,0.5);
	border: 1px solid #AAAAAA;
	margin-left: 2px;
	margin-bottom: 2px;
    -webkit-box-shadow: inset 0px 0px 20px 12px rgba(200, 200, 200, 0.5);
    -moz-box-shadow:    inset 0px 0px 20px 12px rgba(200, 200, 200, 0.5);
    box-shadow:         inset 0px 0px 20px 12px rgba(200, 200, 200, 0.5);
}

.thing img {
    max-width: 160px;
	max-Height: 160px;
	margin: 0 auto;
	border: 1px solid #000000;
}

.thing H3 {
    color: #00AAFF;
}

.thing input, .fullinfo input, .gocart, .adm_del_appr input {
    color: #FFFFFF;
	background: #AA0000;
	border: 1px solid #880000;
}

.thing input:hover, .fullinfo input:hover, .gocart:hover, .adm_del_appr input:hover {
    background: #CC0000;
	cursor: pointer;
}

.thing a, .thing a:visited {
    color: #AAAAAA;
	font-size: 10px;
}

.thing a:hover, .thing a:active {
    color: #888888;
}

.thing .price, .fullinfo .price {
    background: rgba(0,0,0,0.8);
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	width: 100px;
	position: absolute;
	padding: 5px;
	margin-top: -26px;
	margin-left: 54px;
	z-index: 999;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	text-align: center !important;
}

.fullinfo .price {
    margin-left: 91px;
	margin-top: 179px;
}

.fullinfo {
    min-height: 250px;
}

.fullinfo img {
    width: 200px;
	height: 200px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #000000;
}

.fullinfo H3 {
    color: #AA0000;
}

.fullinfo table {
    width: 500px;
	margin: 20px auto;
	border: 1px solid #000000;
}

.fullinfo table tbody tr td {
	font-size: 12px;
	background: rgba(0,0,0,0.8);
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

.fullinfo table H3 {
    color: #00AAFF;
}

.fullinfo .title {
    width: 100px;
	text-align: left;
}

.fullinfo .val {
    text-align: right;
}

.grey {
    color: #888888;
}

#breadcrumbs a, #breadcrumbs a:visited {
    color: #CCCCCC;
	font-weight: bold;
	font-size: 12px;
}

#breadcrumbs a:hover, #breadcrumbs a:active, #breadcrumbs .now:hover, #breadcrumbs .now:active {
    color: #FFFFFF !important;
}

#breadcrumbs .now, #breadcrumbs .now:visited {
    color: #00AAFF;
}

#breadcrumbs {
    padding: 10px;
	background: #333333;
}

#breadcrumbs img {
	margin-left: 5px;
	margin-right: 5px;
	max-width: 16px;
	max-height: 16px;
	margin-bottom: -3px;
}

.search {
    float: right;
	margin-top: -7.5px;
}

.search input {
    display: inline-block;
}

.search input[type=submit] {
    width: 100px;
}

.search input[type=text] {
    width: 200px;
}

#right a {
    font-size: 12px;
}

#right .now {
    color: #AA0000;
	font-weight: bold;
}

#admin_nav {
    background: #333333;
	height: 27px;
}

#admin_nav ul li {
    float: left;
	font-weight: bold;
	padding: 5px;
}

#admin_nav a:hover {
    background: #00AAFF;
	color: #FFFFFF !important;
}

#admin_nav .now {
    background: #0088DD;
	color: #FFFFFF !important;
}

.search_result {
    padding: 10px;
	background: rgba(255,255,255,0.7);
	border: 1px solid #DDDDDD;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
}

.bold {
    font-weight: bold;
}

.range {
    padding: 10px;
	border: 1px solid #DDDDDD;
	background: rgba(0,0,0,0.9);
	text-align: center;
	width: 160px;
	position: absolute;
	margin-left: -5px;
	margin-top: -270px;
	z-index: 999;
	color: #FFFFFF;
	display: none;
}

#cart_icon {
    max-width: 16px;
	max-Height: 16px;
	float: right;
	opacity: 0.9;
	display: none;
}

#cart_icon:hover {
    cursor: pointer;
	opacity: 1.0;
}

.cart_string span{
    font-size: 10px;
}

.cart_string .in_cart {
    opacity: 0.7;
	display: none;
}

.cart_string_link {
    background: #00AAFF;
	color: #FFFFFF;
	padding: 5px;
}

.in_cart, .cart_string {
    padding: 5px;
	background: rgba(255,255,255,0.8);
	border: 1px solid #DDDDDD;
	margin: 5px auto;
}

.in_cart, .in_cart a, .in_cart table, .in_cart table thead tr th, .in_cart table tbody tr td, .in_cart table tbody tr td a {
	font-size: 12px;
}

.in_cart table {
    width: 100%;
}

.in_cart table thead tr {
    color: #FFFFFF;
	background: rgba(0,0,0,0.7);
}

.in_cart table thead tr th {
    border: 1px solid #333333;
}

.in_cart table tbody tr td {
    border: 1px solid #DDDDDD;
}

.in_cart table thead tr th, .in_cart table tbody tr td {
    text-align: center;
	vertical-align: middle;
	padding: 5px;
}

.in_cart .poster img {
    max-width: 32px;
	max-height: 32px;
	border: 1px solid #DDDDDD;
	margin: 0 auto;
}

.in_cart .poster, .in_cart .delete {
    width: 32px;
}

.in_cart .delete img, .admin_trade_header_search img {
    opacity: 0.9;
    max-width: 16px;
	max-height: 16px;
}

.in_cart .delete img:hover, .admin_trade_header_search img:hover {
    opacity: 1.0;
	cursor: pointer;
}

.in_cart .price, .in_cart .count, .in_cart .summary {
    width: 100px;
}

.in_cart .left {
    text-align: left;
	vertical-align: top;
	padding-left: 5px;
}

.pages_nav {
    margin: 0 auto;
	text-align: center;
	padding: 5px;
}

.pages_nav a, .pages_nav a:visited {
    padding: 5px;
	border: 1px solid transparent;
	background: rgba(0,0,0,0.7);
	color: #FFFFFF;
	display: inline-block;
	width: 32px;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}

.pages_nav a:hover, .pages_nav a:active {
    background: rgba(0,0,0,0.5);
}

.pages_nav .active {
    background: #AA0000 !important;
	cursor: text;
}

.settings_form form {
    display: block;
	float: left;
}

.settings_form input, .settings_form textarea {
    margin: 5px;
	width: 340px;
	max-width: 340px;
}

.settings_form input[type=submit] {
    width: 160px;
	margin-left: 197px;
}

.adm_del {
    float: right;
	max-width: 16px;
	max-height: 16px;
	opacity: 0.8;
}

.adm_del:hover {
    cursor: pointer;
	opacity: 1.0;
}

.adm_del_appr {
    background: rgba(0,0,0,0.9);
	font-size: 12px;
	position: absolute;
	padding: 5px;
	border: 1px solid #DDDDDD;
	margin-left: -200px;
	margin-top: -90px;
	z-index: 999;
	display: none;
	text-align: center;
	width: 300px;
}

.user_list {
    border: 1px solid #DDDDDD;
	background: rgba(255,255,255,0.9);
	padding: 5px;
}

.user_list, .user_list table, .user_list table thead tr th, .user_list table tbody tr td {
    color: #888888;
	font-size: 10px;
}

.user_list table thead {
    background: #00AAFF;
}

.user_list table thead tr th {
	border: 1px solid #0088DD;
	color: #FFFFFF !important;
}

.user_list table tbody tr td {
    border: 1px solid #DDDDDD;
}

.user_list table thead tr th, .user_list table tbody tr td {
    padding: 5px;
	text-align: center;
	vertical-align: top;
}

.adm_users_edit {
    margin-top: -300px;
	margin-left: -300px;
	width: 300px;
    color: #FFFFFF;
}

.adm_users_edit form {
    margin: 5px auto;
}

.adm_things_wrapper .adm_users_edit textarea, #create_new_thing textarea {
    display: block;
	max-width: 540px;
}

.adm_users_edit input[type=text], .adm_users_edit select, .adm_users_edit textarea, .adm_users_edit input[type=number], .adm_users_edit input[type=phone], .adm_users_edit input[type=password], .adm_users_edit input[type=email] {
    background: #FFFFFF;
	color: #AA0000;
	width: 90%;
	cursor: text;
}

.adm_users_edit input[type=email] {
    background: #EFEFEF;
	color: #888888;
	border: 1px solid #DDDDDD;
}

.adm_things_wrapper .adm_users_edit {
    width: 600px;
	margin-left: -600px;
}

#create_new_thing {
    width: 600px;
	margin-left: 160px;
}

.adm_things {
    opacity: 0.7;
	display: none;
}

.adm_things_wrapper .cart_string_link a, .adm_things_wrapper .cart_string_link a:visited {
    color: #DDDDDD !important;
	font-weight: bold;
	font-size: 14px;
}

.adm_things_wrapper .cart_string_link a:hover {
    color: #FFFFFF !important;
}

.adm_things_wrapper .left .grey {
    font-size: 10px;
}

.adm_things_wrapper .toolbar, #create_new_thing .toolbar {
    color: #888888;
	font-size: 10px;
	position: absolute;
	margin-left: 178px;
	margin-top: 8px;
}

.cart_string .adm_things .in_cart {
    opacity: 1.0;
	display: block;
	border: 0px;
}

.hide_thing_description {
    opacity: 0.7;
	display: none;
	font-size: 12px;
	color: #888888;
}

.new_thing_poster {
    max-width: 64px !important;
	max-height: 64px !important;
	width: 64px !important;
	height: 64px !important;
	opacity: 0.7;
}

.new_thing_poster:hover {
    cursor: pointer;
	opacity: 1.0;
}

.big_poster {
    position: absolute;
	text-align: center;
	border: 1px solid #DDDDDD;
	background: rgba(255,255,255,0.9);
	padding: 5px;
	z-index: 1000;
	margin-top: -260px;
	margin-left: 40px;
	display: none;
}

.big_poster img {
    margin: 0 auto;
	max-width: 200px !important;
	max-height: 200px !important;
	width: 200px !important;
	height: 200px !important;
}

.trade_sections input {
    display: inline-block;
	background: #FFFFFF;
	color: #AA0000;
	border: 1px solid #880000;
	opacity: 0.7;
}

.trade_sections input:hover {
    opacity: 1.0;
	background: #FFFFFF;
}

.trade_sections .active {
    background: #AA0000 !important;
	color: #FFFFFF !important;
	opacity: 1.0 !important;
	cursor: text !important;
}

.trade_section_content {
    display: none;
}

.admin_trade_header_search {
    color: #FFFFFF;
	background: #AA0000;
	font-weight: bold;
	border: 1px solid #880000;
	padding: 5px;
	margin: 5px auto;
}

.admin_trade_header_search img {
    float: right;
}

.admin_trade_header_search a, .admin_trade_header_search a:visited {
    color: #DDDDDD;
}

.admin_trade_header_search a:hover, .admin_trade_header_search a:active {
    color: #FFFFFF;
}

.hide_blank {
    opacity: 0.7;
	display: none;
}