﻿<div class="article">
	<h3 class="sectionname"><a href="{url}">{title}</a></h3>
	<span class="lastarticlestime" style="float: right; font-size: 8px !important; margin-top: 6px; margin-right: 18px;">{whenadd}<br />{hits}</span>
	<div class="searchresult">{description}</div>
	<div class="socialbuttons">
        <script type="text/javascript">(function() {
          if (window.pluso)if (typeof window.pluso.start == "function") return;
          if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
          }})();
	    </script>
		<span class="lastarticlestime" style="float: right; font-size: 8px !important; margin-top: 0px;"><a href="{url}">Читать полностью</a><br />Комментарии: {comments}</span>
        <div class="pluso" data-background="transparent" data-options="small,square,line,horizontal,counter,theme=08" data-services="vkontakte,facebook,twitter,odnoklassniki,moimir,print" data-url="{url}" data-title="{title}" data-description="{small_description}" data-image="{image}"></div>
    </div>
	<div class="keywords">{keywords}</div>
	<div class="similar">{similar}</div>
</div>