﻿<div class="commentitem">
	<h3 class="sectionname">{name}</h3>
    <span class="lastarticlestime" style="float: right; font-size: 8px !important; margin-top: 6px; margin-right: 18px;">{whenadd}</span>
	<br />
	<div class="searchresult">
	    {comment}
	</div>
</div>