﻿body {
    background: #000000 url("img/fon.jpg") top center no-repeat fixed;
	background-size: cover;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 12px;
    font-weight: normal;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

a, a:visited {
    color: #00AAFF;
}

a:hover, a:active {
    color: #00DDFF;
}

ul, li {
    list-style: none;
	margin: 0;
	padding: 0;
}

H3 {
    color: #FFAA00;
	border: 1px solid #000000;
	background: #333333;
	padding: 5px;
}

form, table, tr, td {
	font-size: 12px;
}

input, input:visited {
    margin-top: 2px;
	border: 1px solid #777777;
	padding: 2px;
}

.submit:hover, .submit:active {
    cursor: pointer;
	background: #333333;
	color: #00AAFF;
	border: 1px solid #000000;
}

#all {
    width: 800px;
    margin: 0 auto;
	padding: 0;
    background: url("img/all.png");
    color: #000000;
    border: 1px solid #777777;
}

#header {
	height: 100px;
	padding: 20px;
	background: #FFFFFF;
}

#header a, #header a:hover, #header a:active, #header a:visited {
    color: #000000;
}

#addsome, #addsome:visited {
    border: 1px solid #777777;
	background: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	color: #AA0000;
}

#addsome:hover, #addsome:active {
    color: #FF0000;
}

#addform {
    padding: 5px;
	text-align: left;
	display: none;
	margin-top: 10px;
}

#footer {
	padding: 10px;
	background: #FFFFFF;
	border-top: 1px solid #000000;
	text-align: center;
}

#logo {
	width: 100px;
	float: left;
	margin: 0;
}

#nav {
	background: #333333;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	padding: 10px;
	font-weight: bold;
}

#content {
	padding: 10px;
}

#center {
	width: 550px;
	padding: 5px;
	margin-top: -14px;
}

#right {
	width: 180px;
	float: right;
	padding: 5px;
	margin: 0 0 20px 0;
}

#sectionlinks {
	padding: 5px;
	list-style: none;
	border: 1px solid #000000;
	text-align: left;
	background: #333333;
}

#more {
    margin: 0 auto;
	width: 150px;
}

#showmore {
    margin: 0 auto;
	display: none;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #000000;
	text-align: center;
	background: #333333;
}

#delmsg {
    margin: 0 auto;
	font-weight: bold;
	background: #333333;
	color: #00AAFF;
	padding: 5px;
	width: 200px;
    display: none;
	text-align: center;
}

.ann {
	color: #777777;
}

.post {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	border: 1px solid #000000;
	background: #333333;
	padding: 10px;
	margin-top: 10px;
	color: #777777;
}

.posttitle {
	width: 390px;
	float: right;
	margin: 0 0 5px 0;
	text-align: left;
	font-weight: bold;
	color: #00AAFF;
}

.posttime {
	text-align: left;
}

.posttext {
	width: 98%;
	text-align: left;
	background: #FFFFFF;
	color: #000000;
	padding: 5px;
}

.arrow {
    height: 10px;
	margin: 0;
}

.allposts {
    display: none;
}

.newname {
    width: 230px;
	margin-left: 10px;
	margin-right: 10px;
}

.newtext {
    width: 450px;
	min-width: 450px;
	max-width: 450px;
	height: 70px;
	min-height: 70px;
	max-height: 70px;
	margin-top: 10px;
}

.pagelinks {
    margin: 0 auto;
	text-align: center;
	padding: 10px;
	background: #333333;
	color: #777777;
	border: 1px solid #000000;
}

.linkpage, .nolinkpage {
    margin: 5px;
}