﻿* {
    margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 12px;
	color: #333333;
}

html {
    background: #333333 url("../images/bg.jpg") top left fixed;
	padding-bottom: 20px;
}

a, a:visited {
	color: #0088DD;
	text-decoration: none;
}

a:hover, a:active {
    color: #00AAFF;
}

input, button, #comment, select {
    padding: 5px;
    background: rgba(255,255,255,0.9);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	border: 1px solid #DDDDDD;
	margin: 2px;
}

input[type=submit]:hover, input[type=submit]:active, .closebig:hover, .closebig:active {
    cursor: pointer;
	background: #00AAFF;
	color: #FFFFFF;
}

select:hover, select:active {
    cursor: pointer;
}

#comment {
    display: block;
	min-width: 650px;
	max-width: 650px;
	width: 650px;
	height: 130px;
	min-height: 130px;
	max-height: 130px;
	resize:none;
}

#search_submit_btn, #search_submit_btn2, #submit_comment, #sendtopic_submit_btn {
    background: url("../images/search.png");
	background-size: cover;
	text-align: center;
	height: 26px;
	width: 26px;
	float: right;
	border: none;
	opacity: 0.7;
	cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#search2 {
    width: 640px;
}

#sendtopic_submit_btn {
    background: url("../images/send.png");
	background-size: cover;
}

#submit_comment {
    background: url("../images/enter.png");
	background-size: cover;
	margin-top: -47px;
	margin-right: 4px;
}

footer {
    border-top: 1px solid #333333;
	text-align: center;
}

header {
    border-bottom: 2px solid #333333;
}

#content, .navpanel {
    border: 1px solid #555555;
	width: 100%;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

#content td, .navpanel td {
    vertical-align: top;
	text-align: left;
}

#error_page {
    margin: 0 auto;
	color: #888888;
	text-align: center;
}

#error_page h1 {
    font-size: 20px;
}

header img {
    height: 116px;
}

header, footer, #content {
    padding: 5px;
    background: #FFFFFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	border: 1px solid #555555;
	margin-top: 1px;
	margin-bottom: 1px;
}

#all {
    width: 1000px;
	margin: 5px auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 25px 5px #000;
    -moz-box-shadow: 0px 0px 25px 5px #000;
    box-shadow: 0px 0px 25px 5px #000;
	background: #000000;
}

#lastarticles {
    float: right;
}

#lastarticles div, .rightwrapper, .mainwrapper {
	background: rgba(68,68,119,0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	padding: 5px;
	border: 1px solid #DDDDDD;
}

.mainwrapper {
    max-width: 686px;
	margin: 0 auto;
}

#lastarticles div {
    float: left;
	margin-right: 2px;
	width: 284px;
}

.rightwrapper {
    padding-bottom: 10px;
}

.navpanel .main a, .navpanel .main a:visited {
	font-weight: bold;
}

.navpanel .main a:hover, .navpanel .main a:active {
	text-decoration: none;
}

.noliststyle {
    list-style: none;
	padding: 0;
	margin: 0;
}

.navpanel {
    background: #FFFFFF;
	padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	border: 1px solid #555555;
	text-align: left;
}

.navpanel .main ul li {
    float: left;
	margin: 2px;
	font-size: 16px;
	line-height: 20px;
}

.navpanel .main ul li img {
    height: 20px;
	margin-top: 2px;
	margin-bottom: -4px;
}

.activenav {
    color: #555555 !important;
}

.navpanel .right {
    text-align: left;
}

.main {
    width: 700px;
}

.lastarticlestime {
    font-weight: italic;
	font-size: 10px;
	color: #888888;
}

.right input[type=text] {
    width: 220px;
}

.right h3, #lastarticles h3, .sectionname {
    margin: 5px;
	padding: 5px;
	color: #333355;
	background: rgba(187,221,255,0.1);
	display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	border: 1px solid #CCCCCC;
    -webkit-box-shadow: inset 0px 0px 15px 2px rgba(68,68,119,0.15);
    -moz-box-shadow: inset 0px 0px 15px 2px rgba(68,68,119,0.15);
    box-shadow: inset 0px 0px 15px 2px rgba(68,68,119,0.15);
}

.right ul, .right div {
    margin-left: 5px;
}

.catlist li {
    list-style: none;
	background: url("../images/category.png") no-repeat left 5px;
	padding: 5px;
    padding-left: 25px;
	background-size: 18px;
}

.articlelist li {
    list-style: none;
	background: url("../images/article-list.png") no-repeat left 5px;
	padding: 5px;
    padding-left: 25px;
	background-size: 18px;
}

.pagelink {
    list-style: none;
	background: url("../images/link-icon.png") no-repeat left 5px !important;
	padding: 5px;
    padding-left: 25px;
	background-size: 18px !important;
}

#advertisment, #myCanvas {
    width: 260px;
	height: 260px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	text-align: center;
	overflow: hidden;
}

.menuspoler {
    display: none;
	opacity: 0.7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	background: rgba(255,255,255,0.4);
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.searchresult, .article, .comment {
    background: #F7F7F7;
	padding: 5px;
	margin: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	padding-bottom: 26px;
	border: 1px solid #DDDDDD;
}

.article, .comment {
    padding-bottom: 5px;
	border: 1px solid #CCCCCC;
	background: rgba(200,200,200,0.3);
    -webkit-box-shadow: inset 0px 0px 25px 2px rgba(68,68,119,0.05);
    -moz-box-shadow: inset 0px 0px 25px 2px rgba(68,68,119,0.05);
    box-shadow: inset 0px 0px 25px 2px rgba(68,68,119,0.05);
}

.article .searchresult {
    padding-bottom: 5px;
	border: 1px solid #CCCCCC;
}

.searchkeywords li {
    list-style: none;
	float: left;
	margin: 5px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.searchkeywords li a, .searchkeywords li a:visited {
    background: #0088DD;
	border: 1px solid #555555;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	padding: 5px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	color: #E7E7E7;
    -webkit-box-shadow: inset 0px 0px 15px 2px #333;
    -moz-box-shadow: inset 0px 0px 15px 2px #333;
    box-shadow: inset 0px 0px 15px 2px #333;
	font-size: 10px;
}

.searchkeywords li a:hover, .searchkeywords li a:active {
    background: #00AAFF;
	color: #FFFFFF;
}

.tagkeywordslink {
    color: #E7E7E7;
}

#myCanvas {
    background: #FFFFFF url("../images/bg.jpg") center center;
    -webkit-box-shadow: inset 0px 0px 25px 25px #FFF;
    -moz-box-shadow: inset 0px 0px 25px 25px #FFF;
    box-shadow: inset 0px 0px 25px 25px #FFF;
}

.lastcommentssploilerlink img, .dellink img, .editlink img {
    height: 14px;
	float: left;
	margin-top: 1px;
	opacity: 0.7;
}

.lastcommentssploiler {
    margin-top: 2px;
	padding: 5px;
	color: #888888;
	font-size: 10px;
	display: none;
	opacity: 0.7;
}

.lastarticlestime .searchkeywordslink, #content .lastarticlestime a {
    font-size: 10px !important;
}

#lastcomments li, #admcomments li {
    margin-top: 2px;
	margin-bottom: 2px;
}

.smallsearchdescr {
    padding: 5px;
	padding-left: 30px;
	font-size: 12px;
}

.keywords {
    text-align: center;
	margin: 0 auto;
	height: 20px;
}

.keywords ul {
	margin: 0 auto !important;
}

.article .sectionname {
    background: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 0px #FFF;
    -moz-box-shadow: inset 0px 0px 0px 0px #FFF;
    box-shadow: inset 0px 0px 0px 0px #FFF;
	border: none;
}

.article .sectionname a {
	font-size: 20px !important;
}

.commentitem .searchresult {
    padding-bottom: 5px;
}

.alert_form {
    text-align: center;
	padding: 5px;
	height: 0px;
	font-size: 12px;
	display: none;
	opacity: 0.5;
}

#alert_error {
    color: #AA0000;
}

#alert_success, #sendtopic_success {
    color: #00AA00;
}

#sendtopic_success {
	height: 12px;
	opacity: 0.5;
}

#login_form, #editcat, #editarticle {
    margin: 0 auto;
	margin-top: 150px;
	padding: 10px;
	background: rgba(255,255,255,0.9);
	width: 400px;
	text-align: center;
    -webkit-box-shadow: inset 0px 0px 10px 2px #AAA;
    -moz-box-shadow: inset 0px 0px 10px 2px #AAA;
    box-shadow: inset 0px 0px 10px 2px #AAA;
	border: 1px solid #555555;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.adminmenu {
    background: rgba(255,255,255,0.9);
	padding: 5px;
	margin: 0;
	margin-top: -14px;
}

.big {
    position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	background: rgba(0,0,0,0.9);
	display: none;
	z-index: 999;
}

.descrcopypaste {
    display: none;
}