/*
 *
 * Template Name: Fullscreen Login
 * Description: Login Template with Fullscreen Background Slideshow
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */


body {
    background: #f8f8f8 url('../img/bg.jpg') center center fixed no-repeat;
	background-size: cover;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #fff;
	font-size: 12px;
	overflow-x: hidden;
}

.page-container {
    margin: 120px auto 0 auto;
}
.page-container H1 {
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.page-container form {
    position: relative;
    width: 305px;
    margin: 15px auto 0 auto;
    text-align: center;
}

input, textarea {
    width: 270px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d; /* browsers that don't support rgba */
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

textarea {
    max-width: 270px;
	min-width: 270px;
	max-height: 200px;
	height: 160px;
	min-height: 160px;
}

input:-moz-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }

input:focus {
    outline: none;
    -moz-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

button {
    cursor: pointer;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: #ef4300;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ff730e;
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

button:hover {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

button:active {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:        
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);

    border: 0px solid #ef4300;
}

.msg {
    text-align: center;
	background: rgba(0,0,0,0.7);
	color: #FFFFFF;
	padding: 12px;
	margin: 20px auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	display: none;
	opacity: 0.7;
}

.success {
    color: #00FF00;
}

.error {
    color: #FF0000;
}
a, a:visited {
    color: #0088DD;
	font-size: 12px;
	text-decoration: none;
}
a:hover, a:active {
    color: #00AAFF;
}
header, footer {
    width: 100%;
	background: #00AAFF;
}
header {
	border-bottom: 1px solid #333333;
	height: 17px;
	position: fixed;
	text-align: left;
}
footer {
    text-align: center;
	padding: 5px;
	border-top: 1px solid #333333;
}
footer a, footer a:visited {
    color: #F3F3F3;
}
footer a:hover, footer a:active {
    color: #FFFFFF;
}
header ul li {
    padding: 2.5px;
}
header a, header a:visited {
    float: left;
	color: #F3F3F3;
}
header a:hover, header a:active {
    color: #FFFFFF;
	background: #00CCFF;
}
header .new_blank, header .new_blank:visited {
    background: #AA0000;
	float: left;
	cursor: pointer;
}
header .new_blank:hover, header .new_blank:active {
    background: #CC0000;
}
header .current_tab, header .current_tab:visited {
    background: #333333;
}
header .current_tab:hover, header .current_tab:active {
    background: #555555;
}
.main {
	padding-top: 25px;
	text-align: left;
	width: 100%;
	padding-bottom: 10px;
	vertical-align: top;
}
.main .hide_content {
    width: 100%;
	padding: 5px;
	display: none;
	vertical-align: top;
}
.main .hide_content .content {
    color: #333333;
	vertical-align: top;
}
.settings_form {
    display: inline-block;
	width: 65%;
	vertical-align: top;
}
.settings_form img {
    cursor: pointer;
	border: 1px dashed #888888;
	padding: 10px;
	margin: 10px;
	opacity: 0.7;
}
.main .hide_content H1 {
    color: #0088DD;
}
.loading {
    margin: 0 auto;
	text-align: center;
	width: 100%;
	padding: 5px;
}
.block_relative {
    min-width: 300px;
	margin: 0;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
.block_relative input, textarea {
    background: rgba(0,0,0,0.8);
}
.col_33 {
    width: 32%;
}
.col_50 {
    width: 49%;
}
.col_66 {
    width: 65%;
}
.col_100 {
    width: 99%;
	margin: 0 auto;
}
.pages {
    text-align: center;
}
.block_relative .success, .block_relative .error {
    position: absolute;
	background: rgba(255,255,255,0.8) !important;
	cursor: text;
	border: 1px solid #FFFFFF;
	display: block;
}
#change_logo_container {
    display: none;
}
#sitelogo_image {
    max-width: 258px;
	opacity: 0.7;
	display: block;
	margin-bottom: 10px;
}
.reviews li {
    background: rgba(255,255,255,0.8);
	padding: 5px;
	margin-bottom: 5px;
	border: 1px dashed #888888;
	min-height: 70px;
}
.reviews li img {
    float: left;
	margin: 5px;
	max-width: 60px;
	max-height: 60px;
}
.reviews li h3 {
    color: #AA0000;
	font-size: 16px;
}
.grey {
    color: #888888;
}
.bold {
    font-weight: bold;
}
.pages {
    padding: 5px;
}
.pages a, .pages a:visited {
    padding: 5px;
	font-size: 14px;
	background: #333333;
	text-align: center;
	display: inline-block;
	width: 20px;
}
.pages a:hover, .pages a:active {
    background: #555555;
}
.pages .active_page {
    cursor: text;
	background: #AA0000 !important;
	color: #F3F3F3 !important;
}
.edit_icons {
    float: right;
	padding: 5px;
	background: #F0F0F0;
	color: #888888;
	border: 1px solid #DDDDDD;
}
.edit_icons a, .edit_icons a:visited {
    color: #888888;
}
.edit_icons a:hover, .edit_icons a:active {
    color: #AA0000;
}
.hide_elem {
    display: none;
}
.order_tovar b, .order_zvonok b, .order_tovar b:visited, .order_zvonok b:visited {
    color: #0088DD;
	font-weight: normal;
	cursor: pointer;
}
.order_tovar b:hover, .order_zvonok b:hover, .order_tovar b:active, .order_zvonok b:active {
    color: #00AAFF;
}
.order_tovar {
    background: rgba(255,255,255,0.8) url('../img/cart.png') bottom right no-repeat !important;
	background-size: 37px !important;
}
.order_zvonok {
    background: rgba(255,255,255,0.8) url('../img/tel-bg.png') bottom right no-repeat !important;
}