@import url(reset.css);


@font-face {
font-family:open;
src:url(../fonts/open.ttf) format("opentype");
}
h1,h2,h3,h4,h5,h6,p{
	font-variant: small-caps;
	font-family:open;
	font-weight:lighter;
	}
	
h1{
	font-size:22px;
	font-family:open;
	color:#787272;
	}

.menu{
	background:#d4d6da;
	height:50px;
	width:100%;
	min-width:1200px;
	text-align:center;
	padding-top:8px;
	}
	
.menu a{
	margin:0 10px;
	font:22px open;
	color:#2d5fab;
	text-transform:uppercase;
	}

.menu a:hover{
	text-decoration:underline;
	}
	
.header{
	width:100%;
	min-width:1200px;
	height:600px;
	background:url(../images/header-bg.png);
	background-attachment:scroll;
	background-size:100%;
	}
	
.gradient{
	position:static;
	width:100%;
	height:100%;
	z-index:2;
	}
	
.header .gradient{
	background:rgba(247,247,247,0.8);
	}
	
.header-wrapper{
	width:1000px;
	overflow:hidden;
	height:600px;
	position:relative;
	margin:0 auto;
	}
	
.header-main{
	position:relative;
	}

.logo{
	position:absolute;
	top:60px;
	}
	
.logo h1{
	margin-top:12px;
	}
	
.book{
	position:absolute;
	top:60px;
	left:500px;
	}
	
.book-btn{
	width:156px;
	height:40px;
	text-decoration:underline;
	font-variant: small-caps;
	font-size:18px;
	font-family:open;
	padding-bottom:2px;
	color:#ffffff;
	background:#42bfc2;
	cursor:pointer;
	border-radius:5px;
	margin:18px 0 0 28px;
	}
	
.book-btn:hover{
	background:#42dfe3;
	border:1px solid #42bfc2;
	}
	
.telephone{
	position:absolute;
	background:url(..//images/tel-bg.png)no-repeat;
	top:80px;
	right:0;
	}
	
.telephone h1{
	font:24px open;
	padding:23px 0 0 120px;
	}
	
.premium{
	position:absolute;
	top:235px;
	}
	
.prem{
	float:left;
	width:280px;
	margin-right:90px;
	}
	
.prem img{
	float:left;
	margin-right:20px;
	}
	
.prem .video-img{
	margin-top:-10px;
	}

.prem h1{	
	font-size:18px;
	padding-top:3px;
	}

.why{
	position:absolute;
	top:335px;
	}

.why h1{
	font-size:24px;
	}
	
.why ul li{
	overflow:hidden;
	margin-top:20px;
	}

.why ul li img{
	float:left;
	width:26px;
	margin-right:10px;
	}

.why ul li h1{
	font-size:16px;
	padding-top:4px;
	}
	
.bonus{
	position:absolute;
	top:245px;
	width:270px;
	right:40px;
	}

.bonus h1{
	font-size:24px;
	text-align:center;
	}
	
.bonus img{
	width:268px;
	padding-top:10px;
	display:block;
	margin:0 auto;
	}
	
.goods{
	width:100%;
	min-width:1200px;
	height:960px;
	background:url(../images/goods-bg.png);
	background-attachment:scroll;
	background-size:100%;
	}
	
.goods .gradient{
	background:rgba(188,234,240,0.8);
	}
	
.goods-wrapper{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	}

.good{
	width:300px;
	margin:60px 90px 0 90px;
	float:left;
	}

.good img{
	width:210px;
	display:block;
	margin:0 auto;
	margin-bottom:13px;
	}

.good h3{
	font-size:16px;
	font-weight:lighter;
	line-height:1.4;
	color:#444444;
	max-height:42px;
	overflow:hidden;
	text-align:center;
	}
	
.good-btn{
	width:245px;
	margin:0 auto;
	padding-top:8px;
	}
	
.good input{
	border-radius:5px;
	border:none;
	font:18px open;
	font-variant:small-caps;
	cursor:pointer;
	padding-bottom:2px;
	height:40px;
	}

.good .about{
	background:#a9aaaa;
	color:#fff;
	width:120px;
	margin-right:18px;
	}

.good .about:hover{
	background:#979797;
	}
	
.good .zakaz{
	width:100px;
	color:#41bfc2;
	background:#fff;
	}
	
.good .zakaz:hover{
	background:#eaeaea;
	}
	
.company{
	width:100%;
	height:390px;
	background:#fff;
	}

.company-wrapper{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	}
	
.company-wrapper img{
	float:left;
	width:402px;
	margin-left:40px;
	margin-right:150px;
	}

.company-wrapper h1{
	font-size:72px;
	padding-top:150px;
	color:#a9aaaa;
	}
	
.footer-bg{
	width:100%;
	min-width:1200px;
	background:url(../images/goods-bg.png);
	background-attachment:scroll;
	background-size:100%;
	}
	
.footer-bg .gradient{
	background:rgba(175,222,228,0.8);
	}
.footer-wrapper{
	width:1000px;
	margin:0 auto;
	}
	
.comments{
	overflow:hidden;
	padding-top:65px;
	}

.comment{
	float:left;
	width:210px;
	margin-left:185px;
	color:#fff;
	}

.comments .first{
	margin:0;
	}
	
.autor{
	overflow:hidden;
	}

.autor img{
	float:left;
	width:69px;
	height:69px;
	}

.autor h2{
	margin-top:13px;
	line-height:1.5;
	float:right;
	width:130px;
	font-size:18px;
	font-weight:lighter;
	}
	
.autor h3{
	float:right;
	width:130px;
	font-size:14px;
	font-weight:lighter;
	}
	
.comment p{
	clear:both;
	margin-top:10px;
	line-height:1.4;
	font-size:16px;
	}
	
.footer{
	clear:both;
	margin-top:40px;
	padding-bottom:60px;
	}
	
.footer h2{
	font-size:16px;
	color:#fff;
	font-weight:lighter;
	}
	
.footer ul{
	overflow:hidden;
	margin-top:15px;
	}

.footer ul li{
	width:37px;
	float:left;
	margin-right:10px;
	}
	
.window{
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,0.5);
	z-index:10;
	}

.call{
	width:420px;
	margin:0 auto;
	}
	
.window-wrapper{
	border-radius:5px;
	background:#fff;
	width:100%;
	position:relative;
	margin-top:115px;
	}
	
.window-header{
	overflow:hidden;
	border-bottom:1px solid #7df4f7;
	height:50px;
	padding:18px 20px 0 20px;
	}

.window-header h2{
	float:left;
	width:655px;
	font-size:20px;
	font-variant:small-caps;
	color:#42bfc2;
	margin-top:-2px;
	}

.close{
	float:right;
	width:14px;
	height:15px;
	border:none;
	background:url(../images/close.png) no-repeat;
	cursor:pointer;
	}
	
.call .window-header{
	border:none;
	}
	
#call, #call2, #more, #video {
	opacity:0;
	visibility:hidden;
	transition:0.5s;
	}

.more{
	width:750px;
	margin:0 auto;
	overflow: auto;
	height: 100%;
	position: relative;
	padding-bottom:100px;
	}
	
.info{
	padding:0 20px 20px 20px;
	}
.info input{
	width:380px;
	height:40px;
	padding:0 15px;
	border-radius:5px;
	border:1px solid #cccccc;
	color:#c2c2c2;
	font-size:16px;
	font-family:open;
	font-variant:small-caps;
	font-weight:lighter;
	margin-top:20px;
	}
	
.info .order{
	border:none;
	cursor:pointer;
	background:#42bfc2;
	color:#fff;
	}

.info .order:hover{
	background:#3db3b6;
	}
	
.details{
	padding:20px 20px 30px 20px;
	}
	
.details h3{
	font-size:16px;
	color:#7771ac;
	line-height:1.7;
	}
	
.details p{
	font-size:14px;
	color:#c08a8e;
	line-height:1.5;
	margin-bottom:25px;
	}
	
.order-good{
	overflow:hidden;
	margin-top:20px;
	}

.order-good img{
	float:left;
	width:210px;
	height:284px;
	}

.order-good .info{
	float:right;
	margin:0;
	padding:0;
	width:460px;
	}

.order-good .info input{
	width:460px;
	margin-top:0;
	margin-bottom:20px;
	}

.msg {
    padding: 10px;
	text-align: center;
	margin: 0 auto;
    font-size: 16px;
    font-family: open;
    font-variant: small-caps;
    font-weight: lighter;
	opacity: 0.7;
	display: none;
}

.success {
    color: #00AA00;
}

.error {
    color: #AA0000;
}

#video .window-header {
    border: none;
}

#video {
    text-align: center;
}
